section {
  border-radius: 15px;
  margin-top: 0;
  height: 240px;
}

#banner {
  width: 100%;
  height: calc(100% - 195px);
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

#banner img {
  position: relative;
  top: -10px;
  right: 17.41px;
  z-index: 1;
}

#card {
  position: relative;
  z-index: 2;
  height: calc(100% - 41px);
  width: 100%;
  border-radius: 15px;
  background-color: var(--darkblue);
  color: 0.2s ease-in-out;
}

#card:hover {
  background-color: var(--semidarkblue);
}

#card #header {
  padding-top: 29px;
  margin-left: 30px;
  height: 22px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card #header h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

#card #header svg {
  fill: #bbc0ff;
  fill-rule: "evenodd";
}

#card #header svg:hover {
  fill: #fff;
  cursor: pointer;
}

#card #body {
  margin-left: 30px;
  margin-top: 24px;
  animation: fadeIn linear 0.5s;
  -webkit-animation: fadeIn linear 0.5s;
  -moz-animation: fadeIn linear 0.5s;
  -o-animation: fadeIn linear 0.5s;
  -ms-animation: fadeIn linear 0.5s;
}

#card #body #time {
  display: inline;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
}

#card #body #previous {
  margin-top: 8px;
  font-size: 15px;
  line-height: 18px;
  color: var(--paleblue);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  section {
    width: 100%;
    height: calc(100% - 50px);
  }
  #banner {
    height: calc(100% - 75px);
  }
  #card {
    height: calc(100% - 40px);
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 24px;
  }
  #card #header {
    margin: 0 0 4px 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #card #body {
    width: 100%;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #card #body #time {
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
  }

  #card #body #previous {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
  }
}
