section {
  max-height: 100%;
  z-index: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

#banner {
  width: 100%;
  height: 160px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

#banner img {
  position: relative;
  top: -10px;
  right: 17.41px;
  z-index: 1;
}

#card {
  position: relative;
  margin-top: -115px;
  z-index: 2;
  height: 199px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--darkblue);
}

#card:hover {
  background-color: var(--semidarkblue);
}

#card #header {
  padding-top: 29px;
  margin-left: 30px;
  height: 22px;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card #header h1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

#card #header svg {
  fill: #bbc0ff;
  fill-rule: "evenodd";
}

#card #header svg:hover {
  fill: #fff;
  cursor: pointer;
}

#card #body {
  margin-left: 30px;
  margin-top: 24px;
}

#card #body #time {
  display: inline;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
}

#card #body #previous {
  margin-top: 8px;
  font-size: 15px;
  line-height: 18px;
  color: var(--paleblue);
}

@media screen and (max-device-width: 1200px) {
  #card {
    height: 122px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 24px 28px;
    margin-top: -38px;
  }
  #card #header {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #card #body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #card #body #time {
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
  }

  #card #body #previous {
    font-size: 15px;
    line-height: 18px;
    margin: 0;
  }
}
