.App {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: 244px 244px;
  gap: 30px 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "header card card card"
    "header card card card";
}

header {
  height: 518px;
  grid-area: header;
  background-color: var(--darkblue);
  border-radius: 15px;
}

header #user {
  height: 354px;
  background-color: var(--blue);
  border-radius: 15px;
}

header img {
  margin-top: 37px;
  margin-left: 32px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header #user h2 {
  margin-top: 43px;
  margin-left: 32px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: var(--paleblue);
}

header #user h1 {
  margin-top: 3px;
  margin-left: 32px;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
}

#timeframes {
  margin-top: 26px;
  margin-left: 32px;
  height: 106px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#timeframes button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  color: var(--desaturatedblue);
}

#timeframes button:hover {
  color: #fff;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

#timeframes button:focus {
  color: #fff;
}

@media (max-width: 1200px) {
  .App {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 203px repeat(6, 160px);
    grid-template-areas:
      "header"
      "card"
      "card"
      "card"
      "card"
      "card"
      "card"
      "card";
    justify-content: center;
  }

  header {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  header #user {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header #timeframes {
    margin: 0;
    width: 100%;
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  header #timeframes button {
    height: 70px;
  }

  header img {
    margin: 0;
  }

  header #user div {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
  }

  header #user h2 {
    margin: 0;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--paleblue);
  }

  header #user h1 {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
  }
}
