.App {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-gap: 30px;
  grid-template-rows: auto;
  grid-template-areas:
    "header card card card"
    "header card card card";
}

h1 {
  font-size: 18px;
  font-weight: 500;
}

header {
  height: 100%;
  grid-area: header;
  background-color: var(--darkblue);
  border-radius: 15px;
}

header #user {
  background-color: var(--blue);
  border-radius: 15px;
}

header img {
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header h2 {
  height: 18px;
  left: 0%;
  right: 48.92%;
  top: calc(50% - 18px / 2 - 49px);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: var(--);
}

#timeframes {
  display: flex;
  flex-direction: column;
}
